@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto:wght@400;700&display=swap');

*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

h1{
	color: #66bbff;
	margin-bottom: 10px;
}

.btnAcessar{
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}

.btnCancelar{
	text-decoration: none;
	background-color: red;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}

#txtId{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}

.caixa1{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 15px;
}

.caixa2{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 15px;
}

#tabela{
	margin-top: 30px;
	border-collapse: collapse;
}

#tabela th{
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff; 
}

#tabela td{
	border: 1px solid #ccc;
	padding: 10px;
}